img.img-big {
    display: inline;
}

img.img-small {
  display: none;
}

figure.fullwidth {
  margin-bottom: 0;
}

@media (max-width: 760px) {
  figure.fullwidth {
      max-width: 100%;
  }

  img.img-big {
    display: none;
  }

  img.img-small {
    display: inline;
  }
}